[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mg-icon-envelope:before {
    content: "\e902";
}
.mg-icon-google-plus:before {
    content: "\e901";
}
.mg-icon-whatsapp:before {
    content: "\e900";
}
.mg-icon-facebook:before {
    content: "\e906";
}
.mg-icon-linkedin:before {
    content: "\e90a";
}
.mg-icon-twitter:before {
    content: "\e910";
}